*{
	padding: 0;
	margin: 0;
	/*position: relative;*/
	box-sizing: border-box;
	/* border: 1px solid black; */
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .top{
        width: auto;
        height: auto;
        background-attachment: fixed;
    }

    .nav-bar{
        width: auto;
        height: auto;
    }

    .seperator{
        width: auto;
        height: auto;
    }

    .carousel{
        width: auto;
        height: auto;
    }

    .car_con{
        width: auto;
        height: auto;
    }

    .container{
        width: auto;
        height: auto;
    }

  
}

@media only screen and (min-width: 360px) and (max-width: 640px){
    .top{
        width: auto;
        height: auto;
        background-attachment: fixed;
    }

    .nav-bar{
        width: auto;
        height: auto;
    }

    .seperator{
        width: auto;
        height: auto;
    }

    .carousel{
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .car_con{
        width: 350px;
        height: auto;
    }

    .container{
        width: auto;
        height: auto;
    }

    .me{
        margin-top: 0;
        border-radius: 50px;
        /* height: 10px; */
        /* width: 10px; */
        padding: 0px;
        box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
      }

}