*{
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.top{
    background: url(../images/bg1.jpg);
    background-attachment: fixed;
    height: 150vh;

    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    height: 25vh;
    width: 100vw;
    background-color: rgba(0);
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
    /* background: url(); */
}


.nav-bar a{
    color: blanchedalmond;
}

.nav-bar a:hover{
    text-decoration: none;
    color: black;
}


.seperator{
    height: 10vh;
    width: 100vw;
    background-color: pink;
    align-items: center;
    justify-content: center;
    
}


  
/* --------------------- */

.carousel{
    height: 115vh;
    width: 100vw;
    background-color: rgba(8, 18, 8, 0.46);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0);
    height: 75vh;
    align-items: center;
      justify-content: center;
}

.car_con{
    height: 75vh;
}

.me{
    margin-top: 0;
    border-radius: 50px;
    /* height: 10px; */
    /* width: 10px; */
    padding: 0px;
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  }

  .divbg{
      height: 100vh;
      display: flex;
         align-items: center;
      justify-content: center;
      padding: 30px;
  }

  .textme{
      color: white;
      height: 20px;
      padding-left:20px; 
  }

 .textme .btn{
     text-decoration: none;
      background-color: white;
      color: black;
      box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  }

  .btn:hover{
    background-color: red; 
  }

  .btn > a:hover{
      color: black;
    text-decoration: none;
    
  }

  .btn > a{
      color: black;
  }


  /* 2nd car */
  .contact{
    background-color: rgba(71, 71, 71, 0.94);
    display: flex;
    flex-direction: column;
    border-radius: 20px;  
    padding: 50px;
    width: 500px;
    /* z-index: 4; */
    color: white;
  }
  .divbg1{
      
    height: 100vh;
    display: flex;
       /* align-items: center; */
    justify-content: center;
   padding: 30px;
}

.hr{
    border-color: white;
    padding: 20px;
}